<html>
  <head>

    <meta charset="utf-8">
    <title>Butternut Squishies Grocery Store</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/departments.css">
    <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>

  </head>
  <body>

    <h1 class ="storeTitle" >Butternut Squishies Grocery Store</h1>

    <ul class="nav">
        <li><a class="tab" href="/">Home</a></li>
        <li><a class="active tab" href="departments">Departments</a></li>
        <li><a class="tab" href="accounts">Account</a></li>
        <li><a class="tab" href="admin">Admin</a></li>
        <li><a class ="checkoutBox" href="checkout">Check Out</a></li>
    </ul>
    <div>

      {{message}}

    {{!-- <form action="/departments" method="post">
      <fieldset>
        <th> Log in to create an order, Email: </th>
        <th class="emailInputBox" id="emailInput"> <input class="emailInput" type="text" name="custEmail"></th>

        <div>

    </div>
    <br>
      </fieldset> --}}
      
  </form>

  </div>
  <br>
  <div>
    {{#each departments}}
        <div class ="products-divider box">
              <a class="depLinks" text-decoration= "none"; style="text-decoration:none" href="/departments/{{name}}"> {{name}} </a>
              <input type="hidden" value={{department_id}} id="department_id">
        </div>
    {{/each}}

  </div>


  </body>
</html>
