<html>
  <head>

    <meta charset="utf-8">
    <title>Butternut Squishies Grocery Store</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>

  </head>
  <body>
    <h1 class ="storeTitle">Butternut Squishies Grocery Store</h1>
  
    <div>
    <ul class="nav">
      <li><a class="active tab" href="/">Home</a></li>
      <li><a class="tab" href="departments">Departments</a></li>
      <li><a class="tab" href="accounts">Account</a></li>
      <li><a class="tab" href="admin">Admin</a></li>
      <li><a class="checkoutBox" href="checkout">Check Out</a></li>
    </ul>
    </div>
    

    <div class="slideshow-container">

  <div class="mySlides fade">
        <img src="/static/images/vegetables.jpg" >
        <p><cite>Image by <a class= "hyperlink" href="https://pixabay.com/users/JillWellington-334088/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2485055">Jill Wellington</a> from <a class= "hyperlink" href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2485055">Pixabay</a></cite>
        </p>
      </div>
      <div class="mySlides fade">
        <img src="/static/images/food1.jpg">
        <p><cite>Image by <a class= "hyperlink" href="https://pixabay.com/users/congerdesign-509903/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1503972">congerdesign</a> from <a class= "hyperlink" href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1503972">Pixabay</a></cite>
        </p>
      </div>

      <div class="mySlides fade">
        <img src="/static/images/food2.jpg">
        <p><cite>Image by <a class= "hyperlink" href="https://pixabay.com/users/JillWellington-334088/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2485059">Jill Wellington</a> from <a class= "hyperlink" href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2485059">Pixabay</a></cite>
        </p>
      </div>

     

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <script src="/static/app.js"></script>

    <br>

    <div class="intro">

      <h3>About Us</h3>
      <p>Since 1854 our grocery store has been providing organic, fresh, and locally grown products to our customers.  We are delighted to now offer online ordering for delivery and pickup and many more product choices from the comfort of your home.  Just sign up and you can start ordering right away!  Let us know if there are any other products you would like to see in our store, we welcome all feedback.</p>

    </div>

  </body>
</html>