<html>
  <head>

    <meta charset="utf-8">
    <title>Butternut Squishies Grocery Store</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>

  </head>
  <body>
    <h1 class ="storeTitle">Butternut Squishies Grocery Store</h1>
  
    <div>
    <ul class="nav">
      <li><a class="active tab" href="/">Home</a></li>
      <li><a class="tab" href="/register">Register</a></li>
    </ul>
    </div>
    <h2>Please Log In</h2>

     <form action="/" method="post">
      <fieldset>
        <th> Log in to create an order, Email: </th>
        <th class="emailInputBox" id="emailInput"> <input class="emailInput" type="text" name="custEmail"></th>

        <div>

    </div>
    <br>
      </fieldset>
    <div>
    <h3>{{message}}</h3>
    </div>
      
    </form>


  </body>
</html>